<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spark LMS - Members</title>

    <th:block th:replace="fragments/styles :: common"></th:block>
    <th:block th:replace="fragments/styles :: datatable"></th:block>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
			<th:block th:replace="fragments/topmenu :: menu"></th:block>

            <!-- page content -->
            <div class="right_col" role="main">
                <div>
                    <!-- Table -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>List of Members</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="alert alert-success alert-dismissible fade in" role="alert" th:if="${memberInUse}">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <span>Member is in use, cannot be deleted.</span>
                                </div>

                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Full Name</th>
                                            <th style="width: 100px;">Gender</th>
                                            <th style="width: 50px;">Age</th>
                                            <th style="width: 90px;">Joining Date</th>
                                            <th style="width: 50px;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="m : ${members}">
                                            <td th:text="${m.firstName + ' ' + m.middleName + ' ' + m.lastName}"></td>
                                            <td th:text="${m.gender}"></td>
                                            <td th:text="${#dates.year(#dates.createToday()) - #dates.year(m.dateOfBirth)}"></td>
                                            <td th:text="${#dates.format(m.joiningDate, 'dd-MMM-yyyy')}"></td>
                                            <td>
                                                <a th:href="@{'/member/edit/' + ${m.id}}"><i class="fa fa-edit"></i></a>
                                                <a data-toggle="modal" data-target=".remove-member-modal" onclick="removeMemberDialog(this);"
                                                th:data-member-id="${m.id}" th:data-member-name="${m.firstName + ' ' + m.middleName + ' ' + m.lastName}"
                                                style="cursor: pointer;">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Form -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Add/Edit Member</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="alert alert-success alert-dismissible fade in" role="alert" th:if="${successMsg}">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <span th:text="*{successMsg}"></span>
                                </div>
                                <br />
                                <form id="member-form" th:action="@{/members/save}" method="post" th:object="${member}" class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" th:field="*{firstName}" class="form-control col-md-7 col-xs-12">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12 mt-5">
                                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Middle Name <span class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" th:field="*{middleName}" class="form-control col-md-7 col-xs-12">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12 mt-5">
                                            <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name</label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" th:field="*{lastName}" class="form-control col-md-7 col-xs-12">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12 mt-5">
                                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender <span class="required">*</span></label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <select th:field="*{gender}" class="form-control">
                                                <option th:value="'Male'" th:text="Male"></option>
                                                <option th:value="'Female'" th:text="Female"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date of Birth <span class="required">*</span></label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input type="text" class="form-control" data-inputmask="'mask': '99-Aaa-9999'" name="dateOfBirth" id="dateOfBirth"
                                            th:value="${member.dateOfBirth}?${#dates.format(member.dateOfBirth, 'dd-MMM-yyyy')}:''" >
                                            <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12 mt-5">
                                            <span id="dobErr"></span>
                                            <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contact">Contact # </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" th:field="*{contact}" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contact">Email </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" th:field="*{email}" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <!-- Add other form fields here -->

                                    <input type="hidden" th:if="${id!=null}" th:field="*{id}" />
                                    <input type="hidden" name="joiningDate" id="joiningDate" th:value="${member.joiningDate}?${#dates.format(member.joiningDate, 'dd-MMM-yyyy')}:${#dates.format(#dates.createNow(), 'dd-MMM-yyyy')}" />

                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <th:block th:if="${id==null}">
                                                <button class="btn btn-primary" type="reset">Reset</button>
                                            </th:block>
                                            <th:block th:if="${id!=null}">
                                                <button class="btn btn-primary" type="button" id="gotoListBtn" >Go to list page</button>
                                            </th:block>
                                            <button type="button" class="btn btn-success" id="saveBtn">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                        
                    </div>
                
                </div>
                
            </div>
            
            <th:block th:replace="fragments/footer :: footer"></th:block> 
            <!-- /page content -->

        </div>
    </div>

    <th:block th:replace="fragments/scripts :: common"></th:block>
    <th:block th:replace="fragments/scripts :: datatable"></th:block>
    <script th:src="@{/custom/js/members.js}"></script>
    <!-- Include additional scripts if needed -->
</body>
</html>
